@import "tailwindcss";

@theme {
  --color-primary-50: #eef8f8;
  --color-primary-100: #ddf0f1;
  --color-primary-200: #bae2e3;
  --color-primary-300: #98d3d6;
  --color-primary-400: #75c5c8;
  --color-primary-500: #53b6ba;
  --color-primary-600: #429295;
  --color-primary-700: #326d70;
  --color-primary-800: #21494a;

  --color-success-50: #eefaf5;
  --color-success-100: #ddf5eb;
  --color-success-200: #bcebd6;
  --color-success-300: #9ae0c2;
  --color-success-400: #79d6ad;
  --color-success-500: #57cc99;
  --color-success-600: #46a37a;
  --color-success-700: #347a5c;
  --color-success-800: #23523d;

  --color-danger-50: #f7ebed;
  --color-danger-100: #f0d8da;
  --color-danger-200: #e0b0b6;
  --color-danger-300: #d18991;
  --color-danger-400: #c1616d;
  --color-danger-500: #b23a48;
  --color-danger-600: #8e2e3a;
  --color-danger-700: #6b232b;
  --color-danger-800: #47171d;

  --color-warning-50: #fdfaee;
  --color-warning-100: #fbf5dd;
  --color-warning-200: #f7eabb;
  --color-warning-300: #f3e09a;
  --color-warning-400: #efd578;
  --color-warning-500: #ebcb56;
  --color-warning-600: #c1a645;
  --color-warning-700: #968135;
  --color-warning-800: #6c5c24;

  --color-light: #fffefc;
  --color-dark: #0c1621;
}
@layer base {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    font-size: 14px;
    line-height: 160%;
    font-family: "Inter", sans-serif;

    @apply text-dark dark:text-light;
  }
}

.link-primary-color {
  @apply text-primary-500 hover:underline;
}
