@import "tailwindcss";

@theme {
  --color-primary-50:  #EEF8F8;
  --color-primary-100:  #DDF0F1;
  --color-primary-200:  #BAE2E3;
  --color-primary-300:  #98D3D6;
  --color-primary-400:  #75C5C8;
  --color-primary-500:  #53B6BA;
  --color-primary-600:  #429295;
  --color-primary-700:  #326D70;
  --color-primary-800:  #21494A;

  --color-success-50:  #EEFAF5;
  --color-success-100:  #DDF5EB;
  --color-success-200:  #BCEBD6;
  --color-success-300:  #9AE0C2;
  --color-success-400:  #79D6AD;
  --color-success-500:  #57CC99;
  --color-success-600:  #46A37A;
  --color-success-700:  #347A5C;
  --color-success-800:  #23523D;

  --color-danger-50:  #F7EBED;
  --color-danger-100:  #F0D8DA;
  --color-danger-200:  #E0B0B6;
  --color-danger-300:  #D18991;
  --color-danger-400:  #C1616D;
  --color-danger-500:  #B23A48;
  --color-danger-600:  #8E2E3A;
  --color-danger-700:  #6B232B;
  --color-danger-800:  #47171D;

  --color-warning-50:  #FDFAEE;
  --color-warning-100:  #FBF5DD;
  --color-warning-200:  #F7EABB;
  --color-warning-300:  #F3E09A;
  --color-warning-400:  #EFD578;
  --color-warning-500:  #EBCB56;
  --color-warning-600:  #C1A645;
  --color-warning-700:  #968135;
  --color-warning-800:  #6C5C24;

  --color-light: #FFFDFA;
  --color-dark: #0c1621;
}

a{
  @apply text-primary-500 hover:underline;
}